body{
    background-color: rgb(66, 66, 66);
    
}
#imagenFondo{
    background-image: url(img/Netflix\ Background.jpg);
}
#menuSuperiorderecha nav ul{
    display: flex;/*Poner los items del menú uno al lado del otro*/
    font-size: 10px;
    float: right;
}
#menuSuperiorderecha nav ul li{
    list-style: none;/*Quita los puntitos*/
    padding: 10px;/*Relleno a los li*/
}
#menuSuperiorderecha nav ul li a{
    text-decoration: none;/*Quita el subrayado*/
    color: aliceblue;/*Color de los enlaces del menú*/
}
#logoAmazonprime{
    border-style: solid;
}
#logoNetflix{
    border-style: solid;
}
#logoHbomax{
    border-style: solid;
    border-color: azure;
}
#logos{
    display: flex;
}
#logos{
    justify-content: center;
}
#logos{
    justify-content: space-between;
}
#dispositivos img{
    width: 350px;
}
#dispositivos{
    display: flex;
}
#dispositivos h1{
    color: aliceblue;
}
#dispositivos{
    margin-bottom: 50px;
}
#Terror{
    color: aliceblue;
}
#Terror1{
    justify-content:left;
    display: flex;
}
#terrifier{
    padding: 20px;
}
#lamonja{
    padding: 20px;
}
#lapurga{
    padding: 20px;
}

